@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
  }
h1{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url('quizz.jpg');
    background-size: cover;
    background-position:center center;
    min-height: 100vh; 
    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:-5rem;
}
ul li{
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
}
ul li label{
    cursor: pointer;
}
h2{
    border: solid 3px ;
}
button:hover {
    background-color: #fc1a0548;
}
button{
    background-color: #a4ad4469;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    width: 30%;
    padding: 1.3rem;
}
button:focus {
    background-color: #0cc5283b;
    outline: none;
}